/* Nav bar styling - anchored to the top of the screen even when scrolling */

#nav-bar {
  background-color: #00a087;
  color: #e8fdff;
  height: 80px;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  padding-left: 2em;
  padding-right: 2em;
  z-index: 100;
}

#nav-bar .logo {
  float: left;
  width: 80px;
  height: 80px;
}

#nav-bar .header {
  float: left;
  padding-left: 10px;
  line-height: 80px;
  font-size: 2em;
}

button.compose {
  display: inline-flex;
  float: right;
  margin-top: 13px;
  margin-right: 100px;
  width: 100px;
  height: 55px;
  border: solid black 1px;
  border-radius: 5px;
  background-color: #DBFEFE;
  color: #00a087;
  font-size: 1.25em;
  text-indent: 4px;
}

button.compose:hover {
  background-color: white;
  color: black;
}