
/* Submit Tweet form CSS */
span.counter {
  float: right;
  padding-right: 4%;
  color: black;
}

.counter.overMax {
  color: red;
}

section.new-tweet {
  border-style: solid;
  border-width: 1px;
  border-color: #bfbfbf;
  background-color: #eee;
  border-radius: 5px;
  margin-left: 2em;
  margin-right: 2em;
  position: relative;
  margin-bottom: 20px;
}

.new-tweet textarea {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  padding-left: 1%;
  resize: vertical;
}

input {
  margin-left: 2.5%;
  margin-bottom: 2.5%;
}

.new-tweet h2 {
  margin-left: 2.5%;
  margin-right: 2.5%;
  border-bottom: 1.4px solid black;
}

/* Start of printed-tweet section */

.printed-tweet { /*rename this*/
    align-content: center;
    padding-bottom: 10px;
    word-wrap: break-word;
    margin-left: 2em;
    margin-right: 2em;
}


.printed-tweet header {
    background-color: #eee;
    height: 80px;

}

.printed-tweet h2 {
    padding-left: 3px;
    float: left;
    margin-top: 7px;
}

.printed-tweet article {
    border: 1px solid lightgrey;
    border-radius: 5px;
    opacity: 0.6;
    margin-bottom: 20px;
}

.printed-tweet article:hover {
    opacity: 1;
}

.tweet-text {
    font-size: 1.5em;
    vertical-align: top;
    padding-left: 15px
}

.printed-tweet .tag {
    color: grey;
    margin-top: 1px;
    padding: 10px;
    float: right;
}

.printed-tweet .avatar-pic {
    height: 80px;
    width: 80px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    float: left;
    border-radius: 15px
}


.footer {
   border-top: 1px solid #eee;
   position: relative;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.date .timeStamp {
   padding-left: 10px;
}

.bottomLinks {
   float: right;
   margin-right: 5px;
   width: 25px;
   height: 25px;
   opacity: 0;
}


/*  HOVER STATE SECTION */

.tweet:hover {
  opacity: 1.0;
}

.tweet:hover .bottomLinks{
  opacity: 1.0;
}

